#page_title{
text-align: center;
 font-family: Georgia, Times, serif;
 font-size: 2.5rem;
 color: #333;
 font-weight: 400;
}

.topbox{
display: flex;

}

.image_box{
    flex: 50%;
    margin: 20px;
    padding-left:200px;
}

.descipt{
    flex: 50%;
    margin: 20px;
    text-align: left;
}

#recipe_pic{
    width: 350px;
}